
h1{
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 20px;
}

.header{
    background: #171717;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 37px auto 89px;
    
}

body{
    background: #171717;
    font-family: 'Gilam', sans-serif;                                         
}


.logo{
    width: 357px;
    height: 79px;
}

button{
    text-align: center;

}

.btn{
    border: 1px solid #E4B564;  
    color: #E4B564;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    background: #171717;
    padding: 10px;
    cursor: pointer;
    font-family: 'Ballet', cursive;

}
a.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
a img{
    margin-left: 14px;
    margin-right: 8px;
}


/*  */


.heating-networks-items{
    display: grid;
    grid-template-rows: repeat(2, 468px);
    grid-template-columns: repeat(6, 223px);
    gap: 24px;
    margin-bottom: 161px;
    grid-template-areas:
    "n1 n1 n2 n2 n3 n3"
    "n4 n4 n4 n5 n5 n5"
    ;
}
.heating-networks p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    width: 1182px;
    margin: 43px 0 41px;
}

.networks-item1{
    background: #634F2C;
    grid-area: n1;
}
.networks-item2{
    background: #B4A385;
    grid-area: n2;
}
.networks-item3{
    background: #E4B564;
    grid-area: n3;
}
.networks-item4{
    background: #635A4A;
    grid-area: n4;
}
.networks-item5{
    background: #B08C4D;
    grid-area: n5;
}
.networks{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
}

/*  */


.construction-equipment-items{
    display: grid;
    margin: 94px 0 191px;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 29px 102px 102px 277px ;
    gap: 26px;
}
.equipment{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 52px;
    padding-top: 44px;
}
.kamaz{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.equipment-item1{
    background: #0E0E0E;
    grid-row: span 2;
    font-weight: 400;
}
.equipment-item2{
    background: #242424;
    grid-row: span 3;
    font-weight: 400;
}
.equipment-item3{
    background: #1F1F1F;
   
}
.equipment-item4{
   background: #0E0E0E;
   grid-row: span 3;
}
.equipment-item5{
    background: #1F1F1F;
    grid-row: span 3;
}
.equipment-item6{
    background: #E4B564;
    grid-row: span 2;
    color: #000;
}
.equipment-item7{
    background:#0A0909;
}

/*  */

.our-clients-roject{
    background: #0E0E0E;
}


.h-and-botton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 172px;
  
}
.btn-projects{
    padding: 10px 40px;
    width: 180px;
    height: 50px;
  
}
.clients-and-projects-items{
    display: grid;
    grid-template-rows: repeat(3, 391px);
    grid-template-columns:repeat(3,487px);
    margin-top: 72px;
  
    
}
.clients{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project1{
    background: #634F2C;
}
.project2{
    background: #E8D2AB;
    display: flex;
}
.project3{
    background: #E4B564;
}
.project4{
    background:#635A4A;
}
.project5{
    background: #B08C4D;
}
.project6{
    background:#634F2C;
}
.project2 p{
    padding:9px 80px 0;
}